# 参考资料
# http://www.lxzhu.net/blogcn/archives/git-gitignore-file
#

# 不跟踪这此内容
*.DS_Store
/*

# 跟踪以下内容
!/env
!/etc
!/download
!/doc
!/src
!/README.md
!/Dockerfile
!/*.sh
!/*.bash
!/.vscode
!/.goget
!/.gitignore

# 选择性跟踪
/src/*/*  # 不跟踪这一层
!/src/vendor/* # 跟踪
!/src/module/* # 跟踪
!/src/applet/* # 跟踪
!/src/service/* # 跟踪
!/src/testing/* # 跟踪

/src/applet/*/*  # 不跟踪这一层
!/src/applet/*/*.go # 跟踪
!/src/applet/*/*.sh # 跟踪
!/src/applet/*/.gitignore # 跟踪
!/src/applet/*/Dockerfile # 跟踪
!/src/applet/*/public # 跟踪
!/src/applet/*/route # 跟踪
!/src/applet/*/model # 跟踪
!/src/applet/*/testing # 跟踪

/src/service/*/*  # 不跟踪
!/src/service/*/*.go # 跟踪
!/src/service/*/*.sh # 跟踪
!/src/service/*/.gitignore # 跟踪
!/src/service/*/Dockerfile # 跟踪
!/src/service/*/public # 跟踪
!/src/service/*/route # 跟踪
!/src/service/*/model # 跟踪
!/src/service/*/testing # 跟踪
