# 参考资料
# http://www.lxzhu.net/blogcn/archives/git-gitignore-file
#

# 关闭以下跟踪
*.DS_Store
/*

# 跟踪以下内容
!/etc
!/download
!/doc
!/src
!/README.md
!/Dockerfile
!/*.sh
!/*.bash
!/.vscode
!/.goget
!/.gitignore

# 关闭以下跟踪
/src/*/*

# 跟踪以下内容
!/src/vendor/*.*
!/src/module/*
!/src/testing/*
!/src/applet/*
!/src/service/*

# 跟踪以下所有文件
/src/applet/*/*
!/src/applet/*/*.go
!/src/applet/*/*.bash
!/src/applet/*/.gitignore
!/src/applet/*/Dockerfile
!/src/applet/*/public
!/src/applet/*/route
!/src/applet/*/model
!/src/applet/*/testing

/src/service/*/*
!/src/service/*/*.go
!/src/service/*/*.bash
!/src/service/*/.gitignore
!/src/service/*/Dockerfile
!/src/service/*/public
!/src/service/*/route
!/src/service/*/model
!/src/service/*/testing
